<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular-messages/angular-messages.js"></script>
    <script src="lib/ionic/js/phone-format/phone-format.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="ContactCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Custom Ionic Contact Example</h1>
      </ion-header-bar>
      <ion-content class="has-header">
        <form name="contactForm" novalidate="" ng-submit="submit(contactForm)">
          <div class="list content padding">
            <h5>Please fill out the entire form.</h5>
            <label class="item item-input item-stacked-label">
              <span class="input-label">First Name</span>
              <input type="text" ng-model="contact.firstname" name="firstname" placeholder="John" safe-string required>
            </label>
            <div class="form-error" ng-messages="contactForm.firstname.$error" ng-if="contactForm.firstname.$touched || showValidationErrors">
              <div ng-message="safeString">There may be a credit card number or social security in this field, neither are safe for this form.</div>
              <div ng-message="required">Let us know who you are.</div>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Last Name</span>
              <input type="text" ng-model="contact.lastname" name="lastname" placeholder="Suhr" safe-string required>
            </label>
            <div class="form-error" ng-messages="contactForm.lastname.$error" ng-if="contactForm.lastname.$touched || showValidationErrors">
              <div ng-message="safeString">There may be a credit card number or social security in this field, neither are safe for this form.</div>
              <div ng-message="required">Let us know who you are.</div>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" ng-model="contact.email" name="email" placeholder="john@suhr.com" safe-string required>
            </label>
            <div class="form-error" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched || showValidationErrors">
              <div ng-message="safeString">There may be a credit card number or social security in this field, neither are safe for this form.</div>
              <div ng-message="required">We need an email to contact.</div>
              <div ng-message="email">Give us an valid email address.</div>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Phone</span>
              <input type="text" ng-model="contact.phone" name="phone" placeholder="(XXX) XXX-XXXX" valid-us-phone-number>
            </label>
            <div class="form-error" ng-messages="contactForm.phone.$error" ng-if="contactForm.phone.$touched || showValidationErrors">
              <div ng-message="validUsPhoneNumber">Please recheck this phone number.</div>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Message</span>
              <textarea ng-model="contact.message" name="message" placeholder="Your message" safe-string required></textarea>
            </label>
            <div class="form-error" ng-messages="contactForm.message.$error" ng-if="contactForm.message.$touched || showValidationErrors">
              <div ng-message="safeString">There may be a credit card number or social security in this field, neither are safe for this form.</div>
              <div ng-message="required">Let us know why you're contacting.</div>
            </div>

            <button class="button button-block button-positive" ng-disabled="contactForm.$invalid">
              Submit
            </button>
          </div>
        </form>

        <script id="form-success-modal" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar>
              <h1 class="title">Form Success</h1>
            </ion-header-bar>
            <ion-content>
              You did it!
            </ion-content>
          </ion-modal-view>
        </script>
      </ion-content>
    </ion-pane>
  </body>
</html>
